<div class="mc-content">
    <div class="content-title">CANLI BAHİSLER</div>
    <div class="mc-table">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" *ngFor="let liveSport of liveSports;let index = index">
                <a class="nav-link {{index == 0 ? 'active' : ''}}" data-toggle="tab" href="#{{liveSport.type}}" (click)="getEvents(liveSport.id)">
                    <img src="./assets/img/icons/{{liveSport.type}}.svg"/> {{liveSport.name}}
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div *ngFor="let liveSport of liveSports; let index = index" class="tab-pane fade show {{index == 0 ? 'active' : ''}}" id="{{liveSport.type}}">
                <app-market-bar (changeMarketOrder)="onChangeMarketOrder($event)" [markets]="markets"></app-market-bar>
                <div class="row table-content">
                    <app-bet-item *ngFor="let evt of allEvents" [betEvent]="evt" [markets]="markets"></app-bet-item>
                    <button *ngIf="allEvents.length == 10" class="btn btn-activity">
                        ETKİNLİKLERİN TÜMÜNÜ GÖRÜNTÜLEYİN
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>