.App {
    min-width: 1170px;
}
@media (max-width:768px) {
    .App {
        width:100%; 
        min-width:100%;
    }
}

.detail-breadcrumb {
    background:#f5f5f5;
}

.detail-breadcrumb ul {
    text-align:left;
    width:100%;
    white-space: nowrap;
    overflow-x: scroll;
    padding-top:3px; padding-left:3px;
}

/* width */
.detail-breadcrumb ul::-webkit-scrollbar {
    height: 3px;
}

/* Track */
.detail-breadcrumb ul::-webkit-scrollbar-track {
    background: #f5f5f5;
}

/* Handle */
.detail-breadcrumb ul::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}

/* Handle on hover */
.detail-breadcrumb ul::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
}


.detail-breadcrumb ul li.back {
    background: #c2c2c2; margin-right:10px;
}

.detail-breadcrumb ul li {
    display: inline-block; padding:12.5px 0px;
}
.detail-breadcrumb ul li i {margin:0px 5px; font-size:12px;}
.detail-breadcrumb ul li a {
    font-weight:600;
    color:#292929;
    font-size:12px;
}
.detail-breadcrumb ul li:last-child a {
    font-weight:600;
    color:#e0000f;
}

.detail-breadcrumb ul li a{
}