.content .title {
    background: #000000;
    padding: 7.5px;
    font-weight: bold;
    color: #fff;
    margin-top:5px;
}

.content .item {background: #292929; box-shadow:none; padding:0px; font-weight:bold; color:#fff; margin:0px; border-radius:0px;}
.content .item {border-bottom:1px solid #1d1d1d; border-radius:0px; margin:0px; box-shadow:none;
    padding:10px;

}
.content .item a {color:#fff; font-weight:500; }
.content .item .icon {width:26px; float:left;
}
.content .item .icon img {height:21px;}
.content .item .text {
    width: calc(100% - 110px) ;
    float:left; font-weight:600; font-size:14px; padding-top:3px;}
.content .item .live {width:50px; float:left; }
.content .item .live label {
    text-transform: uppercase;
    color: white;
    background: #e0000f;
    font-size: 11px;
    border-radius: 2px;
    padding: 1px 5px 0 5px;
    line-height: 15px;
    font-weight: 600;
    height: 16px;
    cursor: pointer;
}
.content .item .piece {width:30px;   font-size:13px; padding-top:2.5px; float:left;}